[Unit]
Description=Sway Wayland Compositor
After=systemd-udevd.service seatd.service
Requires=systemd-udevd.service
Wants=seatd.service

[Service]
Type=simple
ExecStart=/usr/bin/sway --config /etc/sway/config
Restart=always
RestartSec=3
User=signaeos
Group=signaeos
RuntimeDirectory=signaeos-runtime
RuntimeDirectoryMode=0700
Environment=XDG_RUNTIME_DIR=/run/signaeos-runtime
Environment=XDG_SESSION_TYPE=wayland
Environment=WLR_NO_HARDWARE_CURSORS=1
Environment=LIBSEAT_BACKEND=seatd
StandardOutput=journal
StandardError=journal
SyslogIdentifier=sway

[Install]
WantedBy=multi-user.target
