[Unit]
Description=Weston Wayland Compositor
After=systemd-udevd.service

[Service]
Type=notify
ExecStartPre=/bin/mkdir -p /run/user/0
ExecStartPre=/bin/chmod 0700 /run/user/0
ExecStart=/usr/bin/weston --config=/etc/weston/weston.ini
Restart=always
RestartSec=3
User=root
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=XDG_SESSION_TYPE=drm
StandardOutput=journal
StandardError=journal
SyslogIdentifier=weston

[Install]
WantedBy=multi-user.target
