[Unit]
Description=SignageOS Display 1 (Web)
After=weston-d1.service signaeos-webui.service
Wants=weston-d1.service

[Service]
Type=simple
ExecStart=/usr/bin/signaeos-display1
Restart=always
RestartSec=5
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=WAYLAND_DISPLAY=wayland-d1
Environment=HOME=/root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=signaeos-display1

[Install]
WantedBy=multi-user.target
