[Unit]
Description=Weston Compositor — Display 2 (HDMI-A-2)
After=systemd-udevd.service weston-d1.service
Requires=systemd-udevd.service

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /run/user/0
ExecStartPre=/bin/chmod 0700 /run/user/0
ExecStart=/usr/bin/weston --config=/etc/weston/weston-d2.ini --socket=wayland-d2
Restart=always
RestartSec=3
User=root
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=XDG_SESSION_TYPE=drm
StandardOutput=journal
StandardError=journal
SyslogIdentifier=weston-d2

[Install]
WantedBy=multi-user.target
